.center {
	text-align: center;
}

.space {
	margin-bottom: 30px;
}

.udsigt {
	display: block;
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 30px;
	width: 40%;
}

.calendar {
	display: block;
	background: #000;
	frameborder: 0;
	border: none;
	margin-left: auto;
	margin-right: auto; 
	height: 100vh;
	width: 98vw;
}
